@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter-font {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.primaryGreen {
	background-color: rgba(65, 255, 107, 0.1);
}

.secondaryGreen {
	background-color: rgb(0, 166, 62);
}
